# Configuración sensible
api/base.py
visualizacion/config.py

# Entornos virtuales
venv/
.env

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos y backups
base_datos/respaldo.sql

# Logs y otros
*.log
